<?xml version="1.0" encoding="UTF-8" ?>
<!-- Specify the refresh internal in seconds. -->
<Configuration monitorInterval="15">
	<Properties>
		<Property name="baseDir">/var/log/cas</Property>
	</Properties>

	<Appenders>
		<RollingFile name="cas-management" append="true"
					 filePattern="${baseDir}/cas-management-%d{yyyy-MM-dd}.log">
			<PatternLayout pattern="%d %p [%c] - %m%n"/>
			<CronTriggeringPolicy schedule="0 0 * * * ?"/>
			<DirectWriteRolloverStrategy>
				<Delete basePath="${baseDir}">
					<IfFileName glob="cas-management-*.log" />
					<IfLastModified age="7d" />
				</Delete>
			</DirectWriteRolloverStrategy>
		</RollingFile>
	</Appenders>
	<Loggers>
		<AsyncLogger name="org.springframework" level="warn" />
		<AsyncLogger name="org.springframework.webflow" level="warn" />
		<AsyncLogger name="org.springframework.web" level="warn" />
		<AsyncLogger name="org.springframework.context.annotation" level="off" />
		<AsyncLogger name="org.pac4j" level="info" additivity="false">
			<AppenderRef ref="cas-management"/>
		</AsyncLogger>
		<AsyncLogger name="org.apereo" level="info" additivity="false">
			<AppenderRef ref="cas-management"/>
		</AsyncLogger>
		<AsyncLogger name="org.apereo.inspektr.audit.support.Slf4jLoggingAuditTrailManager" level="info">
			<AppenderRef ref="cas-management"/>
		</AsyncLogger>
		<Root level="warn">
			<AppenderRef ref="cas-management"/>
		</Root>
	</Loggers>
</Configuration>